@import "./variables.scss";

//SETUP
*, *::after, *::before{ 
    box-sizing: border-box;
    margin: 0;
}

html, body{ 
    min-height: 100vh;
}

body{ 
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.lt-mode{ 
    &--primary{
         background-color: #fff;
    }

    &--secondary{
        background-color: $ltGrey;
    }

    &--text{
        color: $black;
    }
}

.drk-mode{
    &--primary{
        background-color: $drkGrey;
        border:1px solid $line;
    }

    &--secondary{
        background-color: $xtraDrkGrey;
    }

    &--text{
        color: #fff;
    }
}


//TYPOGRAPHY
h1, h2, h3, h4, .body-md{
    font-weight: bold;
}

h1{ 
    font-size: 24px;
    line-height: 30px;
}

h2{
    font-size: 18px;
    line-height: 23px;
}

h3{
    color: $mdGrey;
    font-size: 15px;
    line-height: 19px;
}

h4{
    color: $mdGrey;
    font-size: 12px;
    letter-spacing: 2.4px;
    line-height: 15px;
    text-transform: uppercase;
}

.body-lg{ 
    font-size: 13px;
    line-height: 23px;
}

.body-md{
    font-size: 12px;
    line-height: 15px;
}

//UTILITGY CLASSES
.flex-row{ 
    display: flex;
    align-items: center;

    &--center{
        justify-content: center;
    }

    &--space{ 
        justify-content: space-between;
    }
}

.flex-column{
    display: flex;
    flex-direction: column;
    
    &--space{
        justify-content: space-between;
    }

    &--center{
        align-items: center;
        justify-content: center;
    }
}

.gap{ 
    &--1{
        gap: 1rem;
    }

    &--2{
        gap: 2rem;
    }
}

.hidden{
    display: none;
}

//ICONS
.icon{
    &--md{
        height: 1rem;
        width: 1rem;
    }
}

//BUTTONS
.button{ 
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.825rem;

    border-radius: 24px;
    cursor: pointer;
    width: 164px;

    &--lg{
        font-size: 15px;
        line-height: 19px;
    }

    &--sm{
        font-size: 13px;
        line-height: 23px;
    }
}

.button__primary{ 
    background-color: $mainPurple;
    
    *{
        color: #fff;
    }

    &:hover{
        background-color: $hoverPurple;
    }
}

.button__secondary{
    color: $mainPurple;

    &--lt{ 
        background-color: $ltGrey;

        &:hover{
            background-color: $mdGrey;
        }
    }

    &--dk{
        background-color: #fff;
    }
}

.button__destructive{ 
    background-color: $mainRed;
    color: #fff;

    &:hover{
        background-color:$hoverRed;
    }
}


//CHECKBOXES


//INPUTS & DROPDOWNS
.label{
    font-size: 12px;
    font-weight: bold;

    &--lt{
        color: $mdGrey;
    }

    &--dk{
        color: #fff;
    }
}

.input{
    border: 1px solid $ltLines;
    border-radius: 4px;
    color: $ltLines;

    &--lt{
        &:focus{
            color: $black;
        }
    }

    &--dk{
        &:focus{
            color: #fff;
        }
    }

    &--error{
        border: 1px solid $mainRed;
    }
}

.select{ 
    border: 1px solid $ltLines;
    border-radius: 4px;
    color: $ltLines;

    &:focus{
        border: 1px solid $mainPurple;
    }

    &--lt{
        color:$black;
    }

    &--dk{
        color: #fff;
    }
}

