#kanban{
    grid-area: kanban;
    padding: 2rem;
    overflow: scroll;
}

.kanban-grid{ 
    display: grid;
    grid-template-columns: repeat(3, 280px);
    grid-template-rows: 1fr;
    height: 100%;
}