@import "./variables.scss";

#toggle-container{
    border-radius: 4px;
    gap:1.5rem;
    padding: 0.5rem;
    margin-bottom: 2rem;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 21px;
}
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $mainPurple;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    right: 5px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: $mainPurple;
}
  
input:checked + .slider:before {
    transform: translateX(-15px);
}
  
  /* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}