@import "./variables.scss";

#menu-nav{
    grid-area: menuNav;
    padding: 2rem;

}

#board-menu{ 
    margin-top: 3.5rem;
}

.board-option{
    cursor: pointer;
    gap: 1rem;
    padding: 0.5rem;
    position: relative;

    &--create{
        h3{
            color: $mainPurple;
        }

        img{
            filter: invert(18%) sepia(100%) saturate(5561%) hue-rotate(243deg) brightness(96%) contrast(92%);
          }
    }

    &--active{
        background-color: $mainPurple;
        border-top-right-radius: 2rem;
        border-bottom-right-radius: 2rem;

        &::before{
            background-color: $mainPurple;
            content: "";
            width: 60px;

            position: absolute;
            top:0;
            bottom:0;
            left: -50px;
        }

        h3{
            color: #fff !important;
        }

        img {
            filter: brightness(200%);
        }       
    }
}


.toggle-sidebar{ 
    cursor: pointer;
}


@media only screen and (max-width: 375px){ 
    #menu-nav{
        display: none;
    }
}