.modal-container{ 
    position: absolute;
    top: 0; 
    left: 0; 
    z-index: 2;

    background-color: rgba(0, 0, 0, 0.8);
    width: 100vw;
    min-height: 100%;
}

.modal-inner{
    border: none !important;
    border-radius: 6px;
    padding: 2rem;
    width: 40%;
    max-width: 480px;
}