@import "./variables";

.modal-container{ 
    position: absolute;
    top: 0; 
    left: 0; 
    z-index: 2;

    background-color: rgba(0, 0, 0, 0.7);
    width: 100vw;
    min-height: 100%;
}


.modal{ 
    border: none !important;
    border-radius: 6px;
    padding: 2rem;
    width: 40%;
    max-width: 480px;
    max-height: 700px;
    overflow: scroll;
    position: relative;

    // h2{
    //     margin-bottom: 2rem;
    // }

    input[type='text'], select, textarea{
        background-color: transparent;
        border: 1px solid rgba(130,143,163, 0.25);
        border-radius: 4px;
        font-family: 'Plus Jakarta Sans', sans-serif;
        padding: 0.5rem;
        width: 100%;

        &::placeholder{
            color: rgba(130,143,163, 0.25);
        }

        &:focus{
            outline: 1px solid #fff;
        }
    }

    textarea{
        height: 135px;
        resize: none;
    }

    label{
        display: block;
        font-size: 12px;
        font-weight: bold;
        margin-bottom: 0.5rem;
    }

    img{
        cursor: pointer;
    }

    .checkbox-container{ 
        background-color: $xtraDrkGrey;
        border-radius: 4px;
        margin-bottom: 0.5rem;
        padding: 0.75rem;
        width: 100%;

        input[type='checkbox']{
            appearance: none;
            width: unset;

            &:checked{
                background-image:  url('../assets/icon-check.svg');
                background-repeat: no-repeat;
                background-position: center center;
                background-color: $mainPurple;
            }

            &:checked + label{ 
                color: $mdGrey;
                text-decoration: line-through;
            }
        }

  

        label{
            margin-bottom: 0;
        }
    }

    .button{
        width: 100%;
    }



    &--lt{
        background-color: #fff;

        label{
            color: $mdGrey;
        }

        input, select, textarea{
            color: $black;
        }
    }

    &--dk{
        background-color: $drkGrey;

        h2, label, input, select, textarea{
            color: #fff;
        }

        p{
            color: $mdGrey;
        }
    }
}

.subtask{
    margin-bottom: 1rem;

    img{
        cursor: pointer;
    }
}
