//COLORS
$mainPurple: #635fc7;
$hoverPurple: #A8A4FF;
$black: #000112;
$xtraDrkGrey: #20212C;
$drkGrey: #2B2C37;
$line: #3E3F4E;
$mdGrey: #828FA3;
$ltLines: #E4EBFA;
$ltGrey:#F4F7FD;
$mainRed: #EA5555;
$hoverRed: #FF9898;
$blue: #49C4E5;

//SPACING
